/node_modules
/public/hot
/public/build
/public/storage
/public/js
/public/css
/public/fonts
/public/images
/storage/*.key
/public/mix-manifest.json
/storage
/vendor
/.idea
/.vscode
.env
.env.backup
.env.dusk.local
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
