.call-to-action {
    background-color: #0067f4;
    position: relative;
}

.call-action-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .call-action-image {
        position: relative;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .call-action-image {
        position: relative;
        width: 100%;
    }
}

.call-action-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.call-action-content {
    max-width: 560px;
    margin: 0 auto;
    padding-top: 230px;
    padding-bottom: 236px;
}

@media (max-width: 767px) {
    .call-action-content {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.call-action-content .call-title {
    font-size: 44px;
    font-weight: 600;
    color: #fff;
    line-height: 55px;
}

@media (max-width: 767px) {
    .call-action-content .call-title {
        font-size: 28px;
        line-height: 38px;
    }
}

.call-action-content .text {
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    margin-top: 16px;
}

@media (max-width: 767px) {
    .call-action-content .text {
        font-size: 14px;
    }
}

.call-action-content .call-newsletter {
    max-width: 410px;
    position: relative;
    margin: 24px auto 0;
}

.call-action-content .call-newsletter i {
    font-size: 26px;
    color: #0067f4;
    position: absolute;
    left: 18px;
    top: 15px;
}

.call-action-content .call-newsletter input {
    width: 100%;
    height: 56px;
    border: 0;
    border-radius: 50px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 30px;
}

.call-action-content .call-newsletter input::placeholder {
    opacity: 1;
    color: #6c6c6c;
}

.call-action-content .call-newsletter input::-moz-placeholder {
    opacity: 1;
    color: #6c6c6c;
}

.call-action-content .call-newsletter input::-moz-placeholder {
    opacity: 1;
    color: #6c6c6c;
}

.call-action-content .call-newsletter input::-webkit-input-placeholder {
    opacity: 1;
    color: #6c6c6c;
}

.call-action-content .call-newsletter button {
    border: 0;
    border-radius: 50px;
    height: 48px;
    padding: 0 32px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: #0067f4;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
    .call-action-content .call-newsletter button {
        position: relative;
        right: auto;
        margin-top: 15px;
        background-color: #fff;
        color: #0067f4;
    }
}

.call-action-content .call-newsletter button:hover {
    background-color: #005ad5;
    color: #fff;
}
