/*
 |--------------------------------------------------------------------------
 | TailwindCSS Directives
 |--------------------------------------------------------------------------
 |
 | Import TailwindCSS directives and swipe out at build-time with all of
 | the styles it generates based on your configured design system.
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 |
 */
@import "./_tailwind.css";

/*
   |--------------------------------------------------------------------------
   | Fonts
   |--------------------------------------------------------------------------
   |
   | Import all fonts used in the template, the font configuration can be
   | seen in "tailwind.config.js".
   |
   | Please check this link for more details:
   | https://tailwindcss.com/docs/theme
   |
   */
@import "./_public-sans.css";

/*
   |--------------------------------------------------------------------------
   | 3rd Party Libraries
   |--------------------------------------------------------------------------
   |
   | Import 3rd party library CSS files.
   |
   */
@import "simplebar/src/simplebar.css";
@import "tabulator-tables/dist/css/tabulator.css";
@import "tom-select/dist/css/tom-select.css";
@import "toastify-js/src/toastify.css";
@import "tippy.js/dist/tippy.css";
@import "tippy.js/themes/light.css";
@import "tippy.js/dist/svg-arrow.css";
@import "tippy.js/animations/shift-away.css";

/*
   |--------------------------------------------------------------------------
   | Components
   |--------------------------------------------------------------------------
   |
   | Import CSS components.
   |
   */
@import "./components/_global.css";
@import "./components/_side-nav.css";
@import "./components/_mobile-menu.css";
@import "./components/_top-nav.css";
@import "./components/_intro.css";
@import "./components/_image-fit.css";
@import "./components/_typing-dots.css";
@import "./components/_scrollbar-hidden.css";
@import "./components/_box.css";
@import "./components/_tippy.css";
@import "./components/_toastify.css";
@import "./components/_tom-select.css";
@import "./components/_litepicker.css";
@import "./components/_tabulator.css";

@import "./customs/_loading-overlay.css";