.basictreeview_container p {
    color:#369;
    @apply font-bold;
}

.basictreeview,
.basictreeview ul {
    @apply m-0 ml-3;
    @apply p-0;
    @apply list-none;
    color:#369;
    @apply relative;
}

.basictreeview ul {
    @apply ml-2;
}

.basictreeview:before,
.basictreeview ul:before {
    @apply content-[''];
    @apply block;
    @apply w-0;
    @apply absolute;
    @apply inset-y-0;
    @apply left-0;
    @apply border-l-2 border-solid border-current;
}

.basictreeview li {
    @apply m-0;
    @apply pt-0 pr-4 pb-0 pl-4;
    @apply leading-8;
    @apply font-bold;
    @apply relative;
}

.basictreeview li:before {
    @apply content-[''];
    @apply block;
    @apply w-2.5;
    @apply h-0;
    @apply border-t-2 border-solid border-current;
    @apply mt-0;
    @apply absolute;
    @apply top-4;
    @apply left-0;
}

.basictreeview li:last-child:before {
    background:#f1f5f9; /* same with body background */
    @apply h-auto;
    @apply top-4;
    @apply bottom-0;
}