.background {
    background-image: url('images/bg7.jpg');
}

.header-hero {
    height: 850px;
    position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-hero {
        height: 850px;
    }
}

@media (max-width: 767px) {
    .header-hero {
        height: 850px;
    }
}

.header-hero::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
    background: -o-linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
    background: linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
}

.header-hero .header-content {
    padding-top: 195px;
    position: relative;
    z-index: 9;
}

.header-hero .auth-header-content {
    padding-top: 100px;
    position: relative;
    z-index: 9;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-hero .header-content {
        padding-top: 130px;
    }

    .header-hero .auth-header-content {
        padding-top: 100px;
    }
}

@media (max-width: 767px) {
    .header-hero .header-content {
        padding-top: 120px;
    }

    .header-hero .auth-header-content {
        padding-top: 100px;
    }
}

.header-hero .header-content .header-title {
    font-size: 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
}

@media (max-width: 767px) {
    .header-hero .header-content .header-title {
        font-size: 30px;
        line-height: 40px;
    }
}

.header-hero .header-content .text {
    font-size: 20px;
    line-height: 32px;
    color: #6c6c6c;
    margin-top: 16px;
}

@media (max-width: 767px) {
    .header-hero .header-content .text {
        font-size: 16px;
        line-height: 24px;
    }
}

.header-hero .header-content .header-btn {
    margin-top: 22px;
}

.header-hero .header-content .header-btn li {
    display: inline-block;
    margin: 10px 10px 0;
}

.header-hero .header-content .header-btn li a.main-btn {
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: 0;
    line-height: 50px;
}

.header-hero .header-content .header-btn li a.main-btn i {
    margin-left: 5px;
}

.header-hero .header-content .header-btn li a.main-btn.btn-one {
    color: #fff;
}

.header-hero .header-content .header-btn li a.main-btn.btn-one::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -webkit-linear-gradient(left, #0067f4, #2bdbdc);
    background-image: -o-linear-gradient(left, #0067f4, #2bdbdc);
    background-image: linear-gradient(to right, #0067f4, #2bdbdc);
    background-position: right center;
    z-index: -1;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.header-hero .header-content .header-btn li a.main-btn.btn-one:hover::before {
    background-image: -webkit-linear-gradient(right, #0067f4, #2bdbdc);
    background-image: -o-linear-gradient(right, #0067f4, #2bdbdc);
    background-image: linear-gradient(to left, #0067f4, #2bdbdc);
    background-position: left center;
    -webkit-transition: all none ease-out 0s;
    -moz-transition: all none ease-out 0s;
    -ms-transition: all none ease-out 0s;
    -o-transition: all none ease-out 0s;
    transition: all none ease-out 0s;
}

.header-hero .header-content .header-btn li a.main-btn.btn-two:hover {
    -webkit-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
}

.header-hero .header-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.header-hero .header-shape img {
    width: 100%;
}
