name: CI/CD

on:
  push:
    branches: [ "v0.6.0" ]
  pull_request:
    branches: [ "v0.6.0" ]

permissions:
  pull-requests: read

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.1'
    - uses: actions/checkout@v3
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      working-directory: ./api
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      working-directory: ./api
    - name: Generate key
      run: php artisan key:generate
      working-directory: ./api
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
      working-directory: ./api
    - name: Execute tests (Unit and Feature tests) via Artisan
      run: php artisan test
      working-directory: ./api

  vue-tests:
    needs: laravel-tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: web/package-lock.json
      - name: NPM Clean Install
        run: npm ci
        working-directory: ./web
      - name: Create Ziggy
        run: php artisan ziggy:generate "../web/src/ziggy/ziggy.js"
        working-directory: ./api
      - name: Execute tests
        run: npm run test
        working-directory: ./web