/src/base-components/Alert/**

/src/base-components/Button/Button.vue
/src/base-components/Button/index.ts

/src/base-components/Form/FormCheck/**
/src/base-components/Form/FormSwitch/**
/src/base-components/Form/InputGroup/**
/src/base-components/Form/FormHelp.vue
/src/base-components/Form/FormInline.vue
/src/base-components/Form/FormInput.vue
/src/base-components/Form/FormLabel.vue
/src/base-components/Form/FormSelect.vue
/src/base-components/Form/FormTextarea.vue
/src/base-components/Form/index.ts

/src/base-components/Headless/**

/src/base-components/Litepicker/**

/src/base-components/LoadingIcon/**

/src/base-components/Lucide/**

/src/base-components/Notification/**

/src/base-components/Pagination/Pagination.vue

/src/base-components/Table/**

/src/base-components/Tippy/**

/src/base-components/TippyContent/**

/src/base-components/TomSelect/**

/src/components/DarkModeSwitcher/**

/src/components/MainColorSwitcher/**

/src/components/MobileMenu/**

/src/layouts/SideMenu/Divider.vue
/src/layouts/SideMenu/Menu.vue
/src/layouts/SideMenu/side-menu.ts
/src/layouts/SideMenu/SideMenuTooltip.vue
/src/layouts/SimpleMenu/**

/src/stores/color-scheme.ts
/src/stores/dark-mode.ts
/src/stores/side-menu.ts

/src/types/tailwind-config.d.ts
/src/types/utils.d.ts

/src/utils/colors.ts
/src/utils/helper.ts